@import "tailwindcss";
@source "./src/**/*.{js,jsx}";
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff !important; 
  box-shadow: 0 0 0px 1000px #2C4A47 inset !important; 
    transition: background-color 5000s ease-in-out 0s;
}